tmp.txt
file.txt.BACKUP.66529.txt
file.txt.BACKUP.66721.txt
file.txt.BASE.66529.txt
file.txt.BASE.66721.txt
file.txt.LOCAL.66529.txt
file.txt.LOCAL.66721.txt
file.txt.REMOTE.66529.txt
file.txt.REMOTE.66721.txt
